*.*~
*.asv
/chicago-crime-comm.tns
/mode-1-date.map
/mode-2-time.map
/mode-3-communityarea.map
/mode-4-primarytype.map
/Boundaries*
/basic_data_analysis.m
/original-data-not-in-git.zip
/datacnts/*
/misc/*
images-2019/2019/*
/rawdata/Chicago_Crime_2022-10-25.csv
/rawdata/Chicago_Crime_2022-10-25.zip
/rawdata/Chicago_Crime_2022-10-25_Table.mat
/rawdata/diary~
/rawdata/matlab.mat
